Repository derui/jira-dependency-tree: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, formatter, eslint, rustfmt

prettier:
  name: prettier
  entry: npx prettier --cache --write --list-different --ignore-unknown
  language: system
  verbose: true

formatter:
  name: formatter
  entry: npx rome format --write
  language: system
  verbose: true

eslint:
  name: eslint
  entry: npx eslint --fix --cache-strategy content --cache --cache-location node_modules/.cache/eslint
  language: system
  verbose: true

rustfmt:
  name: rustfmt
  entry: rustfmt
  language: system
  args:
  - --edition
  - '2021'

chore: update packages
  package.json
  pnpm-lock.yaml
Due: none

feat: dispatch action when click notification
  src/drivers/issue-graph.ts
  src/issue-graph/force-graph.ts
  src/issue-graph/type.ts
Due: formatter, eslint

fix: hidden sub issue notification if it is not needed
  src/issue-graph/issue.ts
Due: formatter, eslint

fix: do not repeat icon
  src/components/atoms/icon.tsx
Due: formatter, eslint

fix: size of icon
  src/components/organisms/issue-searcher.tsx
Due: formatter, eslint

feat: expand sub issues in issue
  cypress/e2e/9_subtask.cy.ts
  src/index.tsx
Due: formatter, eslint

refactor: split layouter out to other file
  src/components/organisms/issue-graph-layouter.test.tsx
  src/components/organisms/issue-graph-layouter.tsx
  src/components/organisms/side-toolbar.test.tsx
  src/components/organisms/side-toolbar.tsx
Due: formatter, eslint

refactor: move to container
  src/app.tsx
  src/components/containers/side-toolbar.test.tsx
  src/components/containers/side-toolbar.tsx
Due: formatter, eslint

feat: add arrow-back icon
  assets/svg/tablar-icons/arrow-back.svg
  src/components/atoms/icon.tsx
Due: formatter, eslint

feat: add selector to get projection target
  src/state/selectors/issues.test.ts
  src/state/selectors/issues.ts
Due: formatter, eslint

feat: add unroller
  src/components/organisms/graph-unroller.test.tsx
  src/components/organisms/graph-unroller.tsx
Due: formatter, eslint

style: apply styles
  src/components/containers/side-toolbar.tsx
  src/components/organisms/graph-unroller.test.tsx
  src/components/organisms/graph-unroller.tsx
  src/components/organisms/issue-graph-layouter.tsx
Due: formatter, eslint

fix: use mask-image instead of mask
  src/components/atoms/icon.tsx
Due: formatter, eslint

test: add assertions for side toolbar
  cypress/e2e/9_subtask.cy.ts
Due: formatter, eslint

test: add case for search
  cypress/e2e/9_subtask.cy.ts
Due: formatter, eslint

fix: testid
  cypress/e2e/1_open.cy.ts
Due: formatter, eslint

[ci skip] docs: add implemented feature
  README.org
Due: none

fix: prevent tooltip rest
  src/issue-graph/tooltip.ts
Due: formatter, eslint

test: add cases for issue recursive
  server/src/jira_issue_request.rs
  server/tests/fixtures/issue.json
  server/tests/fixtures/issue_one.json
  server/tests/jira_issue_request_test.rs
Due: rustfmt

fix: use more understandable syntax
  server/tests/jira_issue_request_test.rs
Due: rustfmt

fix: tooltip behavior
  assets/css/root.css
  cypress/e2e/4_load-issues.cy.ts
  cypress/fixtures/basic/tooltip.json
  src/issue-graph/force-graph.ts
  src/issue-graph/tooltip.ts
Due: prettier, formatter, eslint

fix: load all statuses
  server/src/jira_project_request.rs
  server/tests/jira_issue_request_test.rs
  server/tests/jira_project_request_test.rs
Due: rustfmt

style: do not straggle zoom slider
  src/components/molecules/zoom-slider.tsx
Due: formatter, eslint

refactor: split project information editor into standalone component
  src/components/molecules/project-information-editor.test.tsx
  src/components/molecules/project-information-editor.tsx
Due: formatter, eslint

refactor: split project information's editor
  src/components/organisms/project-information.test.tsx
  src/components/organisms/project-information.tsx
Due: formatter, eslint

test: fix failed test
  src/components/organisms/graph-unroller.test.tsx
  src/components/organisms/issue-graph-layouter.test.tsx
Due: formatter, eslint

fix: layout
  src/components/molecules/project-information-editor.tsx
  src/components/organisms/project-information.tsx
Due: formatter, eslint

test: apply new testid
  cypress/e2e/1_open.cy.ts
  cypress/e2e/3_project-information.cy.ts
  cypress/e2e/4_load-issues.cy.ts
  cypress/e2e/6_cycle.cy.ts
  cypress/e2e/7_search.cy.ts
  cypress/e2e/8_relation-editor.cy.ts
  cypress/e2e/9_subtask.cy.ts
Due: formatter, eslint

style: avoid flicker dialog initial display
  src/components/atoms/dialog.tsx
Due: formatter, eslint

chore: upgrade cdk
  server/cdk/package.json
  server/cdk/pnpm-lock.yaml
Due: none

refactor: issue construction process on d3.js
  src/issue-graph/issue.ts
Due: formatter, eslint

test: add test case to check issue change
  cypress/e2e/10_issue-update.cy.ts
  cypress/fixtures/update-issue/changed.json
  cypress/fixtures/update-issue/issues.json
Due: formatter, eslint

fix: query for graph issue
  src/issue-graph/issue.ts
Due: formatter, eslint

fix: some errors
  src/issue-graph/issue.ts
  src/issue-graph/type.ts
  src/state/slices/issues.test.ts
  src/state/slices/issues.ts
Due: formatter, eslint

style: adjust dialog positions
  src/app.tsx
  src/components/organisms/project-information.tsx
  src/components/organisms/user-configuration.tsx
Due: formatter, eslint

fix: failed test
  src/state/slices/issues.test.ts
Due: formatter, eslint

fix: use right instead of left to align right of parent
  src/components/atoms/dialog.test.tsx
  src/components/atoms/dialog.tsx
Due: formatter, eslint

fix: style of button
  src/components/containers/project-sync-option-editor.test.tsx
  src/components/containers/project-sync-option-editor.tsx
Due: formatter, eslint

chore: upgrade packages
  package.json
  pnpm-lock.yaml
Due: none

fix: position of error handler
  src/state/epics/issue.test.ts
  src/state/epics/issue.ts
Due: formatter, eslint

Path conditions:
  prettier: any of: \.css$
  formatter: any of: \.tsx?$
  eslint: any of: \.tsx?$
  rustfmt: any of: \.rs$
