Repository derui/jira-dependency-tree: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, rustfmt

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
    - id: prettier
      name: prettier
      entry: npx prettier
      language: system
      files: "\\.(tsx?|css)$"
      args: ["-w"]
    - id: eslint
      name: eslint
      entry: npx eslint
      language: system
      files: "\\.tsx?$"
      args: ["--fix", "--ext", ".ts,.tsx"]
    - id: rustfmt
      name: rustfmt
      entry: rustfmt
      language: system
      files: "\\.rs$"
      args: ["--edition", "2021"]

fix: robust way
  server/src/jira_issue_request.rs
Due: rustfmt

chore: remove playwright
  e2e/1_open.spec.ts
  e2e/2_user-configuration.spec.ts
  e2e/3_project-information.spec.ts
  e2e/4_load-issues.spec.ts
  e2e/fixtures/basic/issues.json
  e2e/fixtures/basic/project.json
  e2e/fixtures/basic/suggestions.json
  e2e/support/extended-test.ts
  e2e/support/mocks.ts
  e2e/support/type.d.ts
  e2e/tsconfig.json
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: prettier, eslint

fix: central loading state
  src/index.tsx
Due: prettier, eslint

chore: use concurrently instead of npm-run-all
  package.json
  pnpm-lock.yaml
Due: none

style: do not show global scroll-bar anymore
  assets/css/root.css
  assets/css/user-configuration.css
Due: prettier

chore: use concurrently
  package.json
Due: none

chore: upgrade aws-cdk
  server/cdk/package.json
  server/cdk/pnpm-lock.yaml
Due: none

test: update fixture
  cypress/fixtures/basic/issues.json
Due: none

style: delete unused property
  assets/css/project-toolbar.css
Due: prettier

style: apply same styles
  assets/css/project-information.css
  assets/css/project-toolbar.css
  assets/css/root.css
  assets/css/user-configuration.css
  assets/css/variable.css
  src/components/project-information.tsx
  src/components/user-configuration.tsx
Due: prettier, eslint

style: apply same styles
  assets/css/user-configuration.css
  src/components/project-toolbar.tsx
  src/components/user-configuration-dialog.tsx
  src/components/user-configuration.tsx
  test/components/user-configuration.test.ts
Due: prettier, eslint

refactor: use interface for object type declarations
  src/issue-graph/type.ts
Due: prettier, eslint

chore: add script to run vite in CI
  package.json
Due: none

feat: change color and anchor for unrelated clicked issue
  assets/css/issue.css
  src/issue-graph/force-graph.ts
  src/issue-graph/issue.ts
  src/issue-graph/root.ts
  src/issue-graph/type.ts
Due: prettier, eslint

feat: change focusing issue and path style
  assets/css/issue.css
  src/issue-graph/force-graph.ts
  src/issue-graph/issue.ts
  src/issue-graph/type.ts
Due: prettier, eslint

[ci skip] docs: update comments
  src/issue-graph/force-graph.ts
Due: prettier, eslint

style: maintenance eslint configuration
  .eslintrc.cjs
  src/index.tsx
Due: prettier, eslint

style: apply lint fix
  .eslintrc.cjs
  src/components/helper.ts
  src/components/jira-issue-loader.ts
  src/components/jira-suggestions-loader.ts
  src/components/type.ts
  src/components/zoom-slider.tsx
  src/drivers/issue-graph.ts
  src/drivers/pan-zoom.ts
  src/drivers/storage.ts
  src/issue-graph/force-graph.ts
  src/issue-graph/issue-layout.ts
  src/util/basic.ts
Due: prettier, eslint

[ci skip] docs: add readme
  README.org
  doc/screenshot.png
Due: none

[ci skip] docs: delete image
  doc/screenshot.png
Due: none

[ci skip] docs: fix image
  doc/screenshot.png
Due: none

[ci skip] docs: rename image
  README.org
  doc/issues.png
Due: none

[ci skip] docs: add features
  README.org
Due: none

chore: do not use conc to sequentially command
  package.json
Due: none

fix: suggestor behaviour
  src/components/suggestor.tsx
  test/components/suggestor.test.ts
  test/components/user-configuration-dialog.test.ts
Due: prettier, eslint

test: add test for suggestor
  cypress/e2e/4_load-issues.cy.ts
  cypress/support/commands.ts
Due: prettier, eslint

fix: remove debug feature
  src/components/suggestor.tsx
Due: prettier, eslint

fix: suggestor style
  assets/css/suggestor.css
Due: prettier

fix: change CORS header in debug or release
  server/.dockerignore
  server/src/lib.rs
Due: rustfmt

fix: add temporary error return when errors are occurred
  src/components/jira-issue-loader.ts
  src/components/jira-project-loader.ts
  src/components/jira-suggestions-loader.ts
Due: prettier, eslint

fix: suggestion behavior
  src/components/suggestor.tsx
  test/components/suggestor.test.ts
Due: prettier, eslint

fix: do not contains parent in link if subtask has some outwards
  src/components/jira-issue-loader.ts
  test/components/jira-issue-loader.test.ts
Due: prettier, eslint

fix: trim newline from loaded string
  server/src/lib.rs
Due: rustfmt

refactor: prepare componentize search editor
  src/components/jira-issue-loader.ts
  src/components/project-toolbar.tsx
  src/model/event.ts
  src/model/suggestion.ts
Due: prettier, eslint

style: change style
  assets/css/project-toolbar.css
  assets/css/root.css
  src/components/project-toolbar.tsx
Due: prettier, eslint

fix: refactor suggestion process
  cypress/e2e/1_open.cy.ts
  cypress/e2e/4_load-issues.cy.ts
  package.json
  src/components/project-toolbar.tsx
  src/components/suggestor.tsx
Due: prettier, eslint

test: disable video and run in chromium
  cypress.config.ts
  package.json
Due: prettier, eslint

feat: use tailwind and add atom component
  package.json
  pnpm-lock.yaml
  src/components/atoms/input.tsx
  src/components/helper.ts
  tailwind.config.cjs
Due: prettier, eslint

test: use ava instead of uvu
  ava.config.cjs
  package.json
  pnpm-lock.yaml
  src/components/atoms/input.tsx
  src/components/project-information.tsx
  test/components/atoms/input.test.ts
  test/components/suggestor.test.ts
Due: prettier, eslint

test: rewrite with ava
  test/components/atoms/input.test.ts
  test/components/jira-issue-loader.test.ts
  test/components/jira-project-loader.test.ts
  test/components/jira-suggestion-loader.test.ts
  test/components/project-information.test.ts
  test/components/side-toolbar.test.ts
  test/components/suggestor.test.ts
  test/components/sync-jira.test.ts
  test/components/user-configuration-dialog.test.ts
  test/components/user-configuration.test.ts
  test/components/zoom-slider.test.ts
  test/depgraph/main.test.ts
  test/drivers/issue-graph.test.ts
  test/drivers/storage.test.ts
  test/issue-graph/issue-layout.test.ts
  test/model/project.test.ts
  test/model/setting.test.ts
  test/model/suggestion.test.ts
  test/util/basic.test.ts
  test/util/dependency-registrar.test.ts
Due: prettier, eslint
