Repository derui/jira-dependency-tree: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, formatter, eslint, rustfmt

prettier:
  name: prettier
  entry: npx prettier --cache --write --list-different --ignore-unknown
  language: system
  verbose: true

formatter:
  name: formatter
  entry: npx rome format --write
  language: system
  verbose: true

eslint:
  name: eslint
  entry: npx eslint --fix --cache-strategy content --cache --cache-location node_modules/.cache/eslint
  language: system
  verbose: true

rustfmt:
  name: rustfmt
  entry: rustfmt
  language: system
  args:
  - --edition
  - '2021'

fix: display key in panel header
  src/components/containers/relation-editor-panel.test.tsx
  src/components/containers/relation-editor-panel.tsx
Due: formatter, eslint

feat: add API to create link
  server/src/jira_link_request.rs
  server/src/lib.rs
Due: rustfmt

feat: add API to delete link
  server/src/jira_link_request.rs
  server/tests/jira_link_request_test.rs
Due: rustfmt

test: fix tests
  server/Cargo.lock
  server/Cargo.toml
  server/src/jira_link_request.rs
  server/tests/jira_issue_request_test.rs
  server/tests/jira_link_request_test.rs
Due: rustfmt

style: apply clippy
  server/src/jira_issue_request.rs
  server/src/jira_link_request.rs
  server/src/jira_suggestion_request.rs
  server/tests/jira_link_request_test.rs
Due: rustfmt

feat: add handler for API
  server/src/lib.rs
  server/tests/jira_link_request_test.rs
Due: rustfmt

feat: add resources for new API
  server/cdk/lib/cdk-stack.ts
Due: formatter, eslint

feat: add epic for relation
  src/dependencies.ts
  src/state/actions.ts
  src/state/epics/relation.test.ts
  src/state/epics/relation.ts
  src/state/store.ts
Due: formatter, eslint

fix: method for link deleting
  server/cdk/lib/cdk-stack.ts
  server/src/lib.rs
Due: formatter, eslint, rustfmt

test: add case for remove relation
  cypress/e2e/8_relation-editor.cy.ts
  cypress/fixtures/relation-editor/delete-link.json
  src/state/actions.ts
  src/state/epics/relation.test.ts
  src/state/epics/relation.ts
  src/state/slices/relation-editor.ts
Due: formatter, eslint

test: add verification to reverse mode of issue
  cypress/e2e/8_relation-editor.cy.ts
Due: formatter, eslint

fix: behavior of selector
  src/state/selectors/issues.test.ts
  src/state/selectors/issues.ts
Due: formatter, eslint

fix: use issue instead of specific style
  src/components/organisms/issue-searcher.test.tsx
  src/components/organisms/issue-searcher.tsx
Due: formatter, eslint

refactor: remove unused select
  src/state/selectors/issues.test.ts
  src/state/selectors/issues.ts
Due: formatter, eslint

feat: add icon
  assets/svg/tablar-icons/plus.svg
  src/components/atoms/icon.tsx
Due: formatter, eslint

feat: add issue appender in editor
  src/components/organisms/relation-editor.test.tsx
  src/components/organisms/relation-editor.tsx
Due: formatter, eslint

chore: add generatedId bean
  package.json
  pnpm-lock.yaml
  src/index.tsx
Due: formatter, eslint

fix: manage draft and temporary relation when error
  src/state/actions.ts
  src/state/epics/relation.ts
  src/state/slices/relation-editor.test.ts
  src/state/slices/relation-editor.ts
Due: formatter, eslint

fix: z-index of dialog
  src/components/atoms/dialog.tsx
Due: formatter, eslint

fix: aligned position of suggestion list
  src/components/molecules/suggestion-list.tsx
Due: formatter, eslint

feat: show and create link
  cypress/e2e/8_relation-editor.cy.ts
  src/components/organisms/issue-searcher.tsx
  src/components/organisms/relation-editor.tsx
Due: formatter, eslint

test: add case to add relation successfully
  cypress/e2e/8_relation-editor.cy.ts
  cypress/fixtures/relation-editor/create-link.json
Due: formatter, eslint

fix: style of issue searcher
  cypress/e2e/7_search.cy.ts
  src/components/organisms/issue-searcher.tsx
Due: formatter, eslint

chore: add uuid
  package.json
  pnpm-lock.yaml
Due: none

fix: do not use response when it status
  src/dependencies.ts
  src/index.tsx
  src/infrastructures/fetch.ts
  src/state/epics/relation.test.ts
  src/state/epics/relation.ts
Due: formatter, eslint

fix: style of skeleton in relation editor
  src/components/organisms/relation-editor.tsx
Due: formatter, eslint

fix: do not contains issue in suggestion are already related
  src/components/molecules/suggestion-list.test.tsx
  src/components/molecules/suggestion-list.tsx
  src/components/organisms/relation-editor.test.tsx
  src/components/organisms/relation-editor.tsx
Due: formatter, eslint

style: show scroll bar when it have many suggestions
  src/components/molecules/suggestion-list.tsx
Due: formatter, eslint

fix: allow reducer to add relation if issue does not have it
  src/state/slices/relation-editor.test.ts
  src/state/slices/relation-editor.ts
Due: formatter, eslint

feat: add hook for transition
  src/components/hooks.ts
Due: formatter, eslint

fix: dialog transition state
  src/components/atoms/dialog.tsx
  src/components/hooks.ts
  src/util/basic.test.ts
  src/util/basic.ts
Due: formatter, eslint

fix: remove unused hook
  src/components/atoms/dialog.tsx
  src/components/hooks.ts
Due: formatter, eslint

style: do not expand searcher's height
  src/components/organisms/issue-searcher.tsx
Due: formatter, eslint

fix: do not add relation when term is empty
  src/components/organisms/relation-editor.tsx
Due: formatter, eslint

chore: upgrade packages
  package.json
  pnpm-lock.yaml
Due: none

feat: do not create whole SVG times to times
  src/drivers/issue-graph.ts
  src/issue-graph/force-graph.ts
  src/issue-graph/issue.ts
  src/issue-graph/root.ts
  src/issue-graph/type.ts
Due: formatter, eslint

feat: manage relation in state with some actions
  src/state/slices/issues.test.ts
  src/state/slices/issues.ts
Due: formatter, eslint

test: check to change relation after editing in editor
  cypress/e2e/8_relation-editor.cy.ts
  cypress/fixtures/relation-editor/no-links.json
Due: formatter, eslint

refactor: do not add useless testid from atom
  cypress/e2e/1_open.cy.ts
  cypress/e2e/2_user-configuration.cy.ts
  cypress/e2e/3_project-information.cy.ts
  cypress/e2e/4_load-issues.cy.ts
  cypress/e2e/5_storage.cy.ts
  cypress/e2e/6_cycle.cy.ts
  cypress/e2e/7_search.cy.ts
  cypress/e2e/8_relation-editor.cy.ts
  src/components/atoms/button.test.tsx
  src/components/atoms/button.tsx
  src/components/atoms/icon.test.tsx
  src/components/atoms/icon.tsx
  src/components/atoms/input.test.tsx
  src/components/atoms/input.tsx
  src/components/containers/relation-editor-panel.test.tsx
  src/components/molecules/user-configuration-form.test.tsx
  src/components/organisms/project-information.test.tsx
  src/components/organisms/project-information.tsx
  src/components/organisms/project-sync-option-editor-form.test.tsx
  src/components/organisms/relation-editor.test.tsx
  src/components/organisms/side-toolbar.test.tsx
  src/components/organisms/user-configuration.test.tsx
Due: formatter, eslint

refactor: remove unused import
  src/state/slices/suggestions.ts
Due: formatter, eslint

Path conditions:
  prettier: any of: \.css$
  formatter: any of: \.tsx?$
  eslint: any of: \.tsx?$
  rustfmt: any of: \.rs$
