Repository derui/jira-dependency-tree: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, rustfmt

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
    - id: prettier
      name: prettier
      entry: npx prettier
      language: system
      files: "\\.(tsx?|css)$"
      args: ["-w"]
    - id: eslint
      name: eslint
      entry: npx eslint
      language: system
      files: "\\.tsx?$"
      args: ["--fix", "--ext", ".ts,.tsx"]
    - id: rustfmt
      name: rustfmt
      entry: rustfmt
      language: system
      files: "\\.rs$"
      args: ["--edition", "2021"]

feat: return edited condition from toolbar
  src/components/project-toolbar.tsx
Due: prettier, eslint

chore: add cypress
  package.json
  pnpm-lock.yaml
Due: none

feat: add initial configuration and samples of cypress
  cypress.config.ts
  cypress/e2e/1-getting-started/todo.cy.js
  cypress/support/commands.ts
  cypress/support/e2e.ts
  tsconfig.json
Due: prettier, eslint

fix: change live server port
  package.json
  test/index.html
Due: none

fix: location to configure base url
  cypress.config.ts
  package.json
Due: prettier, eslint

test: use component test instead of e2e testing
  cypress.config.ts
  cypress/e2e/1-getting-started/todo.cy.js
  cypress/support/component-index.html
  cypress/support/component.ts
  tsconfig.json
Due: prettier, eslint

test: add helper functions for testing
  cypress/support/commands.ts
  cypress/tsconfig.json
Due: prettier, eslint

fix: add facility for testing
  src/components/helper.ts
  src/components/project-toolbar.tsx
  src/components/suggestor.tsx
  src/components/type.ts
Due: prettier, eslint

test: add component test for toolbar
  test/components/project-toolbar.test.cy.ts
Due: prettier, eslint

fix: default check in search condition
  src/components/project-toolbar.tsx
  src/components/type.ts
  test/components/project-toolbar.cy.ts
  test/components/project-toolbar.test.ts
Due: prettier, eslint

style: for description
  assets/css/project-toolbar.css
  assets/css/variable.css
Due: prettier

fix: use condition for sync
  assets/css/root.css
  src/components/project-toolbar.tsx
  src/index.tsx
Due: prettier, eslint

fix: add one more test for component
  test/components/project-toolbar.cy.ts
Due: prettier, eslint

test: use E2E instead of component testing
  cypress.config.ts
  cypress/support/component-index.html
  cypress/support/e2e.ts
  cypress/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: prettier, eslint

test: add test case for empty
  cypress/e2e/1_empty.cy.ts
  cypress/support/commands.ts
  cypress/tsconfig.json
  package.json
  src/components/project-information.tsx
  src/components/sync-jira.tsx
  src/components/user-configuration.tsx
  src/index.tsx
  test/components/project-toolbar.cy.ts
  test/components/side-toolbar.test.ts
  tsconfig.json
Due: prettier, eslint

test: add more case
  cypress/e2e/1_open.cy.ts
  src/components/zoom-slider.tsx
  src/index.tsx
Due: prettier, eslint

test: add assertions
  cypress/e2e/1_open.cy.ts
  src/components/side-toolbar.tsx
  src/index.tsx
Due: prettier, eslint

test: add case for user-configuration
  cypress/e2e/2_user-configuration.cy.ts
  src/components/user-configuration-dialog.tsx
Due: prettier, eslint

fix: do not enable sync button if not setup finished
  cypress/e2e/2_user-configuration.cy.ts
  src/index.tsx
Due: prettier, eslint

test: add more case
  cypress/e2e/2_user-configuration.cy.ts
Due: prettier, eslint

test: add case
  cypress/e2e/3_project-information.cy.ts
Due: prettier, eslint

feat: add command to shortcut mocking for API
  cypress/support/commands.ts
  cypress/support/mocks.ts
Due: prettier, eslint

fix: do not use msw in iframe window
  cypress/e2e/4_load-issues.cy.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  package.json
Due: prettier, eslint

test: add fixture
  cypress/e2e/4_load-issues.cy.ts
  cypress/fixtures/basic/issues.json
  cypress/fixtures/basic/project.json
  cypress/fixtures/basic/suggestions.json
Due: prettier, eslint

test: move worker to index
  cypress/e2e/4_load-issues.cy.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/support/mocks.ts
  src/index.tsx
  src/mock-worker.ts
Due: prettier, eslint

chore: add e2e test for playwright
  .gitignore
  e2e/1_open.cy.ts
  e2e/2_user-configuration.cy.ts
  e2e/3_project-information.cy.ts
  e2e/4_load-issues.cy.ts
  e2e/fixtures/basic/issues.json
  e2e/fixtures/basic/project.json
  e2e/fixtures/basic/suggestions.json
  e2e/support/commands.ts
  e2e/support/e2e.ts
  e2e/support/mocks.ts
  e2e/tsconfig.json
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: prettier, eslint

test: rewrite integration with playwright
  e2e/1_open.cy.ts
  e2e/1_open.spec.ts
  e2e/2_user-configuration.cy.ts
  e2e/2_user-configuration.spec.ts
  e2e/3_project-information.cy.ts
  e2e/3_project-information.spec.ts
  e2e/4_load-issues.cy.ts
  e2e/4_load-issues.spec.ts
  e2e/support/commands.ts
  e2e/support/e2e.ts
  e2e/support/extended-test.ts
  e2e/support/type.d.ts
  e2e/tsconfig.json
  playwright.config.ts
  tsconfig.json
Due: prettier, eslint

fix: use v3 JIRA Platform API to get suggestion
  server/src/jira_suggestion_request.rs
  server/src/lib.rs
  server/tests/autocompletedata.json
  server/tests/board.json
  server/tests/jira_suggestion_request_test.rs
  server/tests/sprints.json
  server/tests/suggestions.json
Due: rustfmt

fix: suggestor send term when suggestion is empty
  package.json
  src/components/suggestor.tsx
  src/components/user-configuration.tsx
  test/components/suggestor.test.ts
  test/components/sync-jira.test.ts
  test/components/user-configuration.test.ts
Due: prettier, eslint

fix: change style for suggestor not selected
  assets/css/suggestor.css
  src/components/suggestor.tsx
Due: prettier, eslint

fix: split reducer to each reducers based on each sinks
  src/components/jira-loader.ts
  src/components/jira-suggestions-loader.ts
  src/components/project-toolbar.tsx
  src/index.tsx
  src/model/event.ts
  vite.config.js
Due: prettier, eslint

fix: stream line to take sprint from suggestor
  src/components/jira-loader.ts
  src/components/project-toolbar.tsx
  src/components/suggestor.tsx
  src/index.tsx
Due: prettier, eslint

fix: use parentEpic instead of parent
  server/src/jira_issue_request.rs
  server/tests/jira_issue_request_test.rs
Due: rustfmt

fix: suggestor events
  assets/css/suggestor.css
  src/components/project-toolbar.tsx
  src/components/suggestor.tsx
  src/index.tsx
  test/components/suggestor.test.ts
Due: prettier, eslint

fix: add assertion for status id
  server/tests/issue.json
  server/tests/jira_issue_request_test.rs
Due: rustfmt

chore: upgrade packages
  package.json
  pnpm-lock.yaml
Due: none

fix: use jql directly in issue loading process
  server/src/jira_issue_request.rs
Due: rustfmt

refactor: collect all issues in link/subtasks
  server/src/jira_issue_request.rs
Due: rustfmt

refactor: use only key in request
  server/src/jira_issue_request.rs
  server/tests/jira_issue_request_test.rs
  server/tests/sub-tasks.json
Due: rustfmt

fix: apply new structure
  src/components/jira-issue-loader.ts
  test/components/jira-issue-loader.test.ts
Due: prettier, eslint
