Repository derui/jira-dependency-tree: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, formatter, eslint, rustfmt

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
    - id: prettier
      name: prettier
      entry: npx prettier --cache --write --list-different --ignore-unknown
      language: system
      files: "\\.css$"
      verbose: true
    - id: formatter
      name: formatter
      entry: npx rome format --write
      language: system
      files: "\\.tsx?$"
      verbose: true
    - id: eslint
      name: eslint
      entry: npx eslint --fix --cache-strategy content --cache --cache-location node_modules/.cache/eslint
      language: system
      files: "\\.tsx?$"
      verbose: true
    - id: rustfmt
      name: rustfmt
      entry: rustfmt
      language: system
      files: "\\.rs$"
      args: ["--edition", "2021"]

fix: add test to check issue outward direction
  src/state/epics/issue.test.ts
  src/state/epics/issue.ts
  src/state/slices/project.ts
Due: formatter, eslint

fix: method name
  src/infrastructures/fetch.ts
Due: formatter, eslint

fix: handle error in project
  src/state/slices/project.ts
Due: formatter, eslint

style: font size of issue
  assets/css/root.css
Due: prettier

style: remove unnecessary margin
  src/components/organisms/project-sync-option-editor-form.tsx
Due: formatter, eslint

chore: update packages
  loader.js
  package.json
  pnpm-lock.yaml
Due: none

chore: remove postcss
  postcss.config.cjs
Due: none

feat: add actions for relation editor
  src/state/actions.ts
Due: formatter, eslint

chore: use vitest in test template
  _templates/component/new/test.ejs.t
  _templates/epic/new/test.ejs.t
  _templates/selector/new/test.ejs.t
  _templates/slice/new/test.ejs.t
Due: none

refactor: add relation object interface
  src/issue-graph/force-graph.ts
  src/model/issue.ts
  src/state/epics/issue.test.ts
  src/state/epics/issue.ts
  src/state/slices/issues.test.ts
  src/state/store.ts
  src/type.ts
Due: formatter, eslint

fix: change action arguments
  src/state/actions.ts
  src/type.ts
Due: formatter, eslint

feat: add utility to make mock data for issue
  src/components/organisms/issue-searcher.test.tsx
  src/mock-data.ts
Due: formatter, eslint

feat: add slice for relation editor
  src/state/slices/relation-editor.test.ts
  src/state/slices/relation-editor.ts
Due: formatter, eslint

chore: apply vitest's style
  _templates/component/new/test.ejs.t
Due: none

fix: align content to center of button
  src/components/atoms/button.tsx
Due: formatter, eslint

fix: add state for slice
  src/state/slices/relation-editor.test.ts
  src/state/slices/relation-editor.ts
Due: formatter, eslint

feat: add issue component without style
  src/components/molecules/issue.test.tsx
  src/components/molecules/issue.tsx
Due: formatter, eslint

fix: add styles
  src/components/molecules/issue.tsx
Due: formatter, eslint

feat: add utility to generate color
  src/util/color.ts
Due: formatter, eslint

feat: add theme to be able to use overlay scroll
  tailwind.config.cjs
Due: none

feat: add delete button
  src/components/molecules/issue.test.tsx
  src/components/molecules/issue.tsx
Due: formatter, eslint

feat: add view model directory
  src/view-models/issue.test.ts
  src/view-models/issue.ts
Due: formatter, eslint

fix: use view model
  src/components/molecules/issue.test.tsx
  src/components/molecules/issue.tsx
Due: formatter, eslint

feat: add selector to get all issues as issue model
  src/state/selectors/issues.test.ts
  src/state/selectors/issues.ts
Due: formatter, eslint

chore: use expect's fail
  _templates/selector/new/test.ejs.t
Due: none

fix: add case for selecting issue in graph
  src/state/slices/relation-editor.ts
Due: formatter, eslint

feat: add selector for relation editor
  src/state/selectors/relation-editor.test.ts
  src/state/selectors/relation-editor.ts
Due: formatter, eslint

fix: interface of action to remove relation
  src/state/actions.ts
  src/state/selectors/relation-editor.test.ts
  src/state/selectors/relation-editor.ts
  src/state/slices/relation-editor.test.ts
  src/state/slices/relation-editor.ts
Due: formatter, eslint

feat: add selector to get status what editor is opened or not
  src/state/selectors/relation-editor.ts
Due: formatter, eslint

test: apply new style to fixture
  cypress/fixtures/basic/issues.json
  cypress/fixtures/cycle/issues.json
Due: none

fix: apply new style of link
  server/src/jira_issue_request.rs
  server/tests/issue.json
  server/tests/jira_issue_request_test.rs
Due: rustfmt

feat: export interface to subscribe actions in graph
  src/drivers/issue-graph.ts
  src/issue-graph/force-graph.ts
  src/issue-graph/root.ts
  src/issue-graph/type.ts
Due: formatter, eslint

feat: handle action from issue graph
  src/index.tsx
Due: formatter, eslint

fix: add case for deselect
  src/state/slices/relation-editor.test.ts
  src/state/slices/relation-editor.ts
Due: formatter, eslint

[wip] feat: relation editor
  cypress/e2e/8_relation-editor.cy.ts
  cypress/fixtures/relation-editor/issues.json
  src/app.tsx
  src/components/containers/relation-editor-panel.test.tsx
  src/components/containers/relation-editor-panel.tsx
  src/components/organisms/relation-editor.test.tsx
  src/components/organisms/relation-editor.tsx
Due: formatter, eslint

test: add assertion
  cypress/e2e/8_relation-editor.cy.ts
Due: formatter, eslint

fix: issue style
  src/components/molecules/issue.tsx
Due: formatter, eslint

fix: add case
  cypress/e2e/8_relation-editor.cy.ts
Due: formatter, eslint

test: add case to verify loading
  cypress/e2e/8_relation-editor.cy.ts
  src/components/molecules/issue.tsx
Due: formatter, eslint

test: add case to verify inward and outward
  cypress/e2e/8_relation-editor.cy.ts
Due: formatter, eslint
