Repository derui/jira-dependency-tree: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, formatter, eslint, rustfmt

prettier:
  name: prettier
  entry: npx prettier --cache --write --list-different --ignore-unknown
  language: system
  verbose: true

formatter:
  name: formatter
  entry: npx rome format --write
  language: system
  verbose: true

eslint:
  name: eslint
  entry: npx eslint --fix --cache-strategy content --cache --cache-location node_modules/.cache/eslint
  language: system
  verbose: true

rustfmt:
  name: rustfmt
  entry: rustfmt
  language: system
  args:
  - --edition
  - '2021'

fix: error handling with switchMap
  src/state/epics/issue.test.ts
  src/state/epics/issue.ts
  src/state/epics/project.test.ts
  src/state/epics/project.ts
  src/state/epics/suggestion.test.ts
  src/state/epics/suggestion.ts
Due: formatter, eslint

style: change style of button
  src/components/atoms/button.test.tsx
  src/components/atoms/button.tsx
Due: formatter, eslint

chore: upgrade and switch to twind
  package.json
  pnpm-lock.yaml
  src/index.tsx
  src/twind.config.cjs
Due: formatter, eslint

fix: style adjustment
  index.html
  src/twind.config.cjs
Due: none

refactor: use function style component
  src/components/atoms/button.tsx
  src/components/atoms/dialog.tsx
  src/components/atoms/icon.tsx
  src/components/atoms/input.tsx
  src/components/containers/project-sync-option-editor.tsx
  src/components/containers/relation-editor-panel.tsx
  src/components/containers/side-toolbar.tsx
  src/components/molecules/issue.tsx
  src/components/molecules/project-information-editor.tsx
  src/components/molecules/suggestor.tsx
  src/components/molecules/user-configuration-form.tsx
  src/components/molecules/zoom-slider.tsx
  src/components/organisms/graph-unroller.tsx
  src/components/organisms/issue-graph-layouter.tsx
  src/components/organisms/issue-searcher.tsx
  src/components/organisms/project-information.tsx
  src/components/organisms/project-sync-option-editor-form.tsx
  src/components/organisms/relation-editor.tsx
  src/components/organisms/sync-issue-button.tsx
  src/components/organisms/user-configuration.tsx
Due: formatter, eslint

refactor: remove unnecessary function calls
  src/components/atoms/button.tsx
Due: formatter, eslint

feat: add iconize function
  src/components/atoms/iconize.test.tsx
  src/components/atoms/iconize.ts
Due: formatter, eslint

refactor: move to iconize
  src/components/atoms/icon.test.tsx
  src/components/atoms/icon.tsx
  src/components/containers/project-sync-option-editor.tsx
  src/components/containers/relation-editor-panel.tsx
  src/components/molecules/issue.tsx
  src/components/molecules/project-information-editor.tsx
  src/components/organisms/graph-unroller.test.tsx
  src/components/organisms/graph-unroller.tsx
  src/components/organisms/issue-graph-layouter.test.tsx
  src/components/organisms/issue-graph-layouter.tsx
  src/components/organisms/issue-searcher.tsx
  src/components/organisms/project-sync-option-editor-form.tsx
  src/components/organisms/relation-editor.tsx
  src/components/organisms/sync-issue-button.tsx
  src/components/organisms/user-configuration.tsx
Due: formatter, eslint

refactor: use classNames instead of private utility
  src/components/atoms/dialog.tsx
Due: formatter, eslint

refactor: fix e2e tests
  cypress/e2e/1_open.cy.ts
  cypress/e2e/9_subtask.cy.ts
  src/components/organisms/graph-unroller.tsx
  src/components/organisms/relation-editor.tsx
Due: formatter, eslint

refactor: move up of function position
  src/state/epics/suggestion.ts
Due: formatter, eslint

chore: upgrade packages
  package.json
  pnpm-lock.yaml
  src/model/setting.ts
  src/twind.config.cjs
Due: formatter, eslint

chore: upgrade packages
  package.json
  pnpm-lock.yaml
Due: none

fix: type of immer
  src/state/slices/relation-editor.ts
Due: formatter, eslint

chore: downgrade typescript to avoid cypress's webpack configuration error
  package.json
  pnpm-lock.yaml
Due: none

chore: remove unused script
  package.json
Due: none

chore: remove unused files
  stylelint.config.cjs
  tsconfig.build.json
Due: none

chore: uuse react-jsxdev in development
  cypress/tsconfig.json
Due: none

[ci skip] docs: some format
  README.org
Due: none

fix: graph layouter icon
  src/components/organisms/issue-graph-layouter.tsx
Due: formatter, eslint

feat: add storybook
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
  vite.config.js
Due: formatter, eslint

feat: add stories for button
  .storybook/main.ts
  .storybook/preview-head.html
  .storybook/preview.ts
  src/components/atoms/button.stories.tsx
  src/components/atoms/button.tsx
Due: formatter, eslint

feat: add story for dialog
  .storybook/main.ts
  src/components/atoms/dialog.stories.tsx
  tsconfig.json
Due: formatter, eslint

feat: add stories for input
  src/components/atoms/dialog.stories.tsx
  src/components/atoms/input.stories.tsx
Due: formatter, eslint

feat: add stories for issue molecules
  src/components/molecules/issue.stories.tsx
Due: formatter, eslint

fix: class name
  src/components/atoms/iconize.ts
Due: formatter, eslint

feat: add stories for project information editor
  src/components/molecules/project-information-editor.stories.tsx
  src/components/molecules/project-information-editor.tsx
Due: formatter, eslint

refactor: use classnames instead of my library
  src/components/molecules/suggestor.tsx
Due: formatter, eslint

feat: add stories for suggestor
  src/components/molecules/suggestor.stories.tsx
  src/components/molecules/suggestor.tsx
Due: formatter, eslint

feat: add story for user configuration form
  src/components/molecules/user-configuration-form.stories.tsx
Due: formatter, eslint

feat: add story for zoom slider
  src/components/molecules/zoom-slider.stories.tsx
Due: formatter, eslint

feat: add stories for graph unroller
  src/components/organisms/graph-unroller.stories.tsx
Due: formatter, eslint

feat: add story for issue graph layouter
  src/components/organisms/issue-graph-layouter.stories.tsx
Due: formatter, eslint

feat: add story for issue-searcher
  src/components/organisms/issue-searcher.stories.tsx
  src/components/organisms/issue-searcher.tsx
Due: formatter, eslint

feat: add story for project information
  src/components/organisms/project-information.stories.tsx
Due: formatter, eslint

feat: add some stories
  src/components/organisms/project-sync-option-editor-form.stories.tsx
  src/components/organisms/relation-editor.stories.tsx
  src/components/organisms/sync-issue-button.stories.tsx
Due: formatter, eslint

feat: add story
  src/components/organisms/user-configuration.stories.tsx
  src/components/organisms/user-configuration.tsx
Due: formatter, eslint

test: fix assertion
  src/components/atoms/button.test.tsx
Due: formatter, eslint

fix: more intuitive operation for moving pan
  src/drivers/issue-graph.ts
Due: formatter, eslint

feat: add api to get projects
  server/src/jira_link_request.rs
  server/src/jira_projects_request.rs
  server/src/jira_suggestion_request.rs
  server/src/lib.rs
  server/tests/jira_projects_request_test.rs
  server/tests/projects.json
Due: rustfmt

Path conditions:
  prettier: any of: \.css$
  formatter: any of: \.tsx?$
  eslint: any of: \.tsx?$
  rustfmt: any of: \.rs$
