Repository derui/jira-dependency-tree: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, rustfmt

prettier:
  name: prettier
  entry: npx prettier
  language: system
  args:
  - -w

eslint:
  name: eslint
  entry: npx eslint
  language: system
  args:
  - --fix
  - --ext
  - .ts,.tsx

rustfmt:
  name: rustfmt
  entry: rustfmt
  language: system
  args:
  - --edition
  - '2021'

feat: filter suggestions with inputted term
  assets/css/suggestor.css
  src/components/suggestor.tsx
Due: prettier, eslint

style: use tablar-icons only
  assets/css/sync-jira.css
  assets/css/user-configuration.css
  assets/svg/arrow-down.svg
  assets/svg/exit.svg
  assets/svg/eye.svg
  assets/svg/opened-door-aperture.svg
  assets/svg/reload.svg
  assets/svg/settings.svg
  assets/svg/tablar-icons/door-exit.svg
  assets/svg/tablar-icons/refresh.svg
  assets/svg/tablar-icons/settings.svg
  assets/svg/user.svg
  index.html
  src/issue-graph/issue.ts
Due: prettier, eslint

test: add test case
  src/components/suggestor.tsx
  test/components/suggestor.test.ts
Due: prettier, eslint

feat: move suggestion cursor with keyboard
  src/components/suggestor.tsx
Due: prettier, eslint

feat: select item
  src/components/suggestor.tsx
Due: prettier, eslint

feat: return value when entered
  src/components/suggestor.tsx
Due: prettier, eslint

feat: add effect function into stream
  src/components/suggestor.tsx
Due: prettier, eslint

fix: take only 1 event from submit each stream
  src/components/user-configuration-dialog.tsx
  test/components/user-configuration-dialog.test.ts
Due: prettier, eslint

test: fix test
  src/components/suggestor.tsx
  test/components/suggestor.test.ts
Due: prettier, eslint

feat: add requester to get suggestions
  server/src/jira_project_request.rs
  server/src/jira_suggestion_request.rs
  server/src/lib.rs
Due: rustfmt

test: add test for getting suggest
  server/src/jira_suggestion_request.rs
  server/tests/board.json
  server/tests/jira_suggestion_request_test.rs
  server/tests/sprints.json
Due: rustfmt

feat: add route for suggestions
  server/cdk/lib/cdk-stack.ts
Due: prettier, eslint

feat: add handler
  server/src/lib.rs
Due: rustfmt

feat: add loader for suggestion
  src/components/jira-suggestions-loader.ts
  src/model/suggestion.ts
  test/model/suggestion.test.ts
Due: prettier, eslint

style: apply clippy
  server/src/jira_suggestion_request.rs
Due: rustfmt

feat: add suggestion to loader
  src/components/jira-loader.ts
  src/model/event.ts
  test/components/jira-suggestion-loader.test.ts
Due: prettier, eslint

style: remove unused imports
  test/components/jira-suggestion-loader.test.ts
Due: prettier, eslint

feat: display suggestor in toolbar
  assets/css/project-toolbar.css
  src/components/project-toolbar.tsx
Due: prettier, eslint

feat: add input to select epic in condition
  assets/css/project-toolbar.css
  src/components/project-toolbar.tsx
Due: prettier, eslint

fix: use optional type in interface
  src/components/jira-loader.ts
Due: prettier, eslint

style: apply global style with grid
  assets/css/project-information.css
  assets/css/project-toolbar.css
  assets/css/root.css
  assets/css/sync-jira.css
  assets/css/user-configuration.css
  src/components/jira-loader.ts
  src/components/project-toolbar.tsx
  src/components/user-configuration.tsx
  src/index.tsx
Due: prettier, eslint

fix: do not allow preflight before GET
  server/cdk/lib/cdk-stack.ts
  server/src/lib.rs
  src/components/jira-loader.ts
Due: prettier, eslint, rustfmt

Revert "fix: do not allow preflight before GET"
  server/cdk/lib/cdk-stack.ts
  server/src/lib.rs
  src/components/jira-loader.ts
Due: prettier, eslint, rustfmt

fix: do not use get
  server/src/lib.rs
Due: rustfmt

fix: do not use get
  server/cdk/lib/cdk-stack.ts
Due: prettier, eslint

fix: connect http stream from suggestion
  src/components/jira-loader.ts
  src/components/jira-suggestions-loader.ts
Due: prettier, eslint

fix: wiring suggestion
  src/components/project-toolbar.tsx
  src/components/suggestor.tsx
  src/index.tsx
  test/components/project-toolbar.test.ts
Due: prettier, eslint

chore: add stylelint
  package.json
  pnpm-lock.yaml
  src/index.tsx
  stylelint.config.cjs
Due: prettier, eslint

style: apply stylelint error
  assets/css/issue.css
  assets/css/project-information.css
  assets/css/project-toolbar.css
  assets/css/root.css
  assets/css/side-toolbar.css
  assets/css/suggestor.css
  assets/css/sync-jira.css
  assets/css/user-configuration.css
  assets/css/variable.css
Due: prettier

feat: close editor if clicked
  src/components/project-toolbar.tsx
  test/components/project-toolbar.test.ts
Due: prettier, eslint

style: split project information editor
  assets/css/project-information.css
  assets/css/project-toolbar.css
Due: prettier

style: apply same styles
  assets/css/project-information.css
  assets/css/project-toolbar.css
  assets/css/root.css
  assets/css/side-toolbar.css
  assets/css/sync-jira.css
  assets/css/user-configuration.css
Due: prettier

refactor: extract JiraUrl trait
  server/src/jira_issue_request.rs
  server/src/jira_project_request.rs
  server/src/jira_suggestion_request.rs
  server/src/jira_url.rs
  server/src/lib.rs
  server/tests/jira_issue_request_test.rs
  server/tests/jira_project_request_test.rs
  server/tests/jira_suggestion_request_test.rs
Due: rustfmt

feat: add condition to request to load issues
  server/src/lib.rs
  server/tests/jira_issue_request_test.rs
Due: rustfmt

feat: change jql with condition
  server/src/jira_issue_request.rs
  server/src/lib.rs
  server/tests/jira_issue_request_test.rs
Due: rustfmt

refactor: move filter into component
  src/components/jira-issue-loader.ts
  src/components/jira-project-loader.ts
  src/components/jira-suggestions-loader.ts
  src/model/event.ts
Due: prettier, eslint

refactor: use derive macro
  server/src/lib.rs
Due: rustfmt

feat: add condition to event
  src/index.tsx
Due: prettier, eslint

fix: do not contain condition in get whole data request
  src/model/event.ts
Due: prettier, eslint

feat: add condition for API request
  src/components/jira-issue-loader.ts
  src/model/event.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(tsx?|css)$
  eslint: any of: \.tsx?$
  rustfmt: any of: \.rs$
