Repository derui/jira-dependency-tree: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, rustfmt

prettier:
  name: prettier
  entry: npx prettier
  language: system
  args:
  - -w

eslint:
  name: eslint
  entry: npx eslint
  language: system
  args:
  - --fix
  - --ext
  - .ts,.tsx

rustfmt:
  name: rustfmt
  entry: rustfmt
  language: system
  args:
  - --edition
  - '2021'

feat: add trait to get JIRA informations
  server/Cargo.lock
  server/Cargo.toml
  server/src/jira_request.rs
  server/src/lib.rs
Due: rustfmt

test: add cases
  server/src/jira_request.rs
  server/src/lib.rs
Due: rustfmt

style: apply clippy
  server/src/jira_request.rs
  server/src/lib.rs
  server/src/main.rs
  server/tests/lib_test.rs
Due: rustfmt

chore: add httpmock and isahc
  server/Cargo.lock
  server/Cargo.toml
Due: none

feat: port issue loading from typescript
  server/Cargo.lock
  server/Cargo.toml
  server/src/jira_request.rs
  server/src/lib.rs
Due: rustfmt

test: add tests for issue loader
  server/src/jira_request.rs
  server/src/lib.rs
  server/tests/jira_request_test.rs
  server/tests/lib_test.rs
Due: rustfmt

feat: add very simple routing
  server/src/lib.rs
Due: rustfmt

feat: add request for project
  server/src/jira_issue_request.rs
  server/src/jira_project_request.rs
  server/src/lib.rs
  server/tests/jira_issue_request_test.rs
Due: rustfmt

test: add loader test
  server/src/jira_project_request.rs
  server/tests/issue_types.json
  server/tests/jira_project_request_test.rs
  server/tests/project.json
  server/tests/status_categories.json
  server/tests/statuses.json
Due: rustfmt

feat: add route to load project
  server/src/lib.rs
Due: rustfmt

fix: jql and header fixing
  server/src/jira_issue_request.rs
Due: rustfmt

chore: add dockerfile to build binary for lambda
  server/Dockerfile.build
Due: none

chore: add dockerfiles to build and run image
  server/.dockerignore
  server/Dockerfile
  server/Dockerfile.build
Due: none

feat: add cdk directory
  server/cdk/.gitignore
  server/cdk/.npmignore
  server/cdk/README.md
  server/cdk/bin/cdk.ts
  server/cdk/cdk.json
  server/cdk/jest.config.js
  server/cdk/lib/cdk-stack.ts
  server/cdk/package.json
  server/cdk/pnpm-lock.yaml
  server/cdk/test/cdk.test.ts
  server/cdk/tsconfig.json
Due: prettier, eslint

feat: add stacks to deploy lambda and REST API
  server/.dockerignore
  server/Dockerfile
  server/Dockerfile.build
  server/cdk/bin/cdk.ts
  server/cdk/lib/cdk-stack.ts
  server/cdk/package.json
  server/cdk/pnpm-lock.yaml
Due: prettier, eslint

refactor: rename environment into setting
  src/index.tsx
  src/model/setting.ts
  test/environment.test.ts
  test/model/setting.test.ts
Due: prettier, eslint

chore: remove unused packages
  package.json
  pnpm-lock.yaml
Due: none

feat: add production-specified configuration system
  .gitignore
  src/env.ts
  vite.config.js
Due: prettier, eslint

feat: add api key to throttle rate limit
  server/cdk/lib/cdk-stack.ts
Due: prettier, eslint

fix: add apiKey to env
  src/env.ts
Due: prettier, eslint

fix: apply prod stage
  server/cdk/.gitignore
  server/src/lib.rs
Due: rustfmt

fix: use camel case for response
  server/src/jira_issue_request.rs
  server/src/jira_project_request.rs
Due: rustfmt

feat: add loader for issue/project with http
  package.json
  pnpm-lock.yaml
  src/components/helper.ts
  src/components/jira-issue-loader.ts
  src/components/jira-loader.ts
  src/components/jira-project-loader.ts
  src/env.ts
  src/infrastructure/jira-issue-loader.ts
  src/infrastructure/jira-project-loader.ts
  src/model/env.ts
  src/model/event.ts
Due: prettier, eslint

chore: remove duplicated lint rule
  .eslintrc.cjs
Due: none

fix: delete unused module
  src/components/jira-loader.ts
  src/components/project-information.tsx
  src/components/user-configuration.tsx
  src/index.tsx
Due: prettier, eslint

feat: use loader in handler
  server/src/jira_project_request.rs
  server/src/lib.rs
Due: rustfmt

feat: integrate jira loader
  src/components/jira-loader.ts
  src/components/jira-project-loader.ts
  src/env.ts
  src/index.tsx
  src/model/setting.ts
  test/components/project-information.test.ts
  vite.config.js
Due: prettier, eslint

fix: margin of project name
  assets/css/project-information.css
Due: prettier

test: add test for issue loader
  src/components/jira-issue-loader.ts
  test/components/jira-issue-loader.test.ts
Due: prettier, eslint

test: add test for project loader
  test/components/jira-project-loader.test.ts
Due: prettier, eslint

fix: stop always streaming with credentials
  src/components/jira-issue-loader.ts
  src/components/jira-project-loader.ts
  src/drivers/issue-graph.ts
  src/index.tsx
Due: prettier, eslint

feat: use statuses instead of workflow status
  server/src/jira_project_request.rs
  server/src/lib.rs
  server/tests/jira_project_request_test.rs
  server/tests/statuses.json
  src/components/jira-project-loader.ts
Due: prettier, eslint, rustfmt

fix: update dummy project
  server/src/lib.rs
Due: rustfmt

fix: do not get used issues
  server/src/jira_project_request.rs
  server/src/lib.rs
Due: rustfmt

feat: use status category
  src/index.tsx
  src/issue-graph/force-graph.ts
  src/issue-graph/issue.ts
  src/type.ts
  test/components/jira-project-loader.test.ts
  test/model/project.test.ts
Due: prettier, eslint

fix: do not synchronize key and name in editing
  src/components/project-information.tsx
  test/components/jira-issue-loader.test.ts
  test/components/jira-project-loader.test.ts
Due: prettier, eslint

style: add base colors
  assets/css/issue.css
  assets/css/project-information.css
  assets/css/root.css
  assets/css/user-configuration.css
Due: prettier

feat: add zoom slider
  src/components/zoom-slider.tsx
  test/components/zoom-slider.test.ts
Due: prettier, eslint

feat: setup zoom slider
  assets/css/root.css
  assets/css/user-configuration.css
  assets/css/zoom-slider.css
  src/index.tsx
Due: prettier, eslint

refactor: remove duplicated type
  src/components/jira-loader.ts
  src/components/jira-project-loader.ts
  src/index.tsx
  src/model/event.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(tsx?|css)$
  eslint: any of: \.tsx?$
  rustfmt: any of: \.rs$
