Repository derui/jira-dependency-tree: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, rustfmt

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
    - id: prettier
      name: prettier
      entry: npx prettier
      language: system
      files: "\\.(tsx?|css)$"
      args: ["-w"]
    - id: eslint
      name: eslint
      entry: npx eslint
      language: system
      files: "\\.tsx?$"
      args: ["--fix", "--ext", ".ts,.tsx"]
    - id: rustfmt
      name: rustfmt
      entry: rustfmt
      language: system
      files: "\\.rs$"
      args: ["--edition", "2021"]

fix: delete test data
  server/src/lib.rs
Due: rustfmt

feat: layout issues with fixed layout
  src/issue-graph/force-graph.ts
  src/issue-graph/issue-layout.ts
  src/issue-graph/issue.ts
  src/issue-graph/type.ts
  src/model/setting.ts
Due: prettier, eslint

fix: layout automatically
  src/depgraph/main.ts
  src/issue-graph/force-graph.ts
  src/issue-graph/issue-layout.ts
  test/depgraph/main.test.ts
  test/issue-graph/issue-layout.test.ts
Due: prettier, eslint

fix: some structs are deserializable
  server/src/jira_issue_request.rs
  server/src/jira_project_request.rs
Due: rustfmt

fix: counting on recursive
  server/src/jira_issue_request.rs
Due: rustfmt

style: more verbose when issue clicked
  assets/css/project-information.css
  src/issue-graph/issue.ts
Due: prettier, eslint

chore: upgrade packages
  package.json
  pnpm-lock.yaml
Due: none

fix: do not update frequency
  src/components/jira-loader.ts
  src/components/project-information.tsx
  src/index.tsx
Due: prettier, eslint

fix: more smooth zoom activity
  src/components/zoom-slider.tsx
  src/drivers/pan-zoom.ts
  test/components/zoom-slider.test.ts
Due: prettier, eslint

fix: do not contains issue if it is not found in issue map
  src/issue-graph/force-graph.ts
Due: prettier, eslint

test: add one more test case
  test/depgraph/main.test.ts
Due: prettier, eslint

fix: get truly largest level
  src/depgraph/main.ts
  test/depgraph/main.test.ts
Due: prettier, eslint

chore: package upgraded
  package.json
  pnpm-lock.yaml
Due: none

feat: display link-only issues
  assets/css/issue.css
  src/issue-graph/force-graph.ts
  src/issue-graph/issue.ts
  src/issue-graph/type.ts
Due: prettier, eslint

chore: remove unnecessary option for build
  package.json
Due: none

fix: add arrowhead for selected issue
  src/issue-graph/root.ts
Due: prettier, eslint

fix: use selected arrowhead when issue clicked
  src/issue-graph/issue.ts
Due: prettier, eslint

fix: do not change stroke width
  src/issue-graph/issue.ts
Due: prettier, eslint

feat: simple animation when cursor hovers an issue
  assets/css/issue.css
Due: prettier

feat: split component to sync
  assets/css/project-information.css
  assets/css/root.css
  assets/css/sync-jira.css
  src/components/project-information.tsx
  src/components/sync-jira.tsx
  src/type.ts
  test/components/project-information.test.ts
  test/components/sync-jira.test.ts
Due: prettier, eslint

fix: events for syncing
  assets/css/sync-jira.css
  src/components/sync-jira.tsx
  src/index.tsx
Due: prettier, eslint

refactor: sync only issues
  src/components/jira-issue-loader.ts
  src/components/jira-loader.ts
  src/components/jira-project-loader.ts
  src/components/sync-jira.tsx
  src/index.tsx
  src/model/event.ts
Due: prettier, eslint

feat: add layout function to defined direction
  src/drivers/issue-graph.ts
  src/index.tsx
  src/issue-graph/force-graph.ts
  src/issue-graph/issue-layout.ts
  src/issue-graph/type.ts
  src/model/setting.ts
  test/model/setting.test.ts
Due: prettier, eslint

refactor: rename graph layout
  src/drivers/issue-graph.ts
  src/index.tsx
  src/issue-graph/force-graph.ts
  src/issue-graph/type.ts
  src/model/setting.ts
  test/model/setting.test.ts
Due: prettier, eslint

feat: add tablar icons
  LICENSE-Notice.txt
  assets/svg/tablar-icons/layout-2.svg
  assets/svg/tablar-icons/layout-distribute-horizontal.svg
  assets/svg/tablar-icons/layout-distribute-vertical.svg
Due: none

feat: add side toolbar
  assets/css/root.css
  assets/css/side-toolbar.css
  src/components/side-toolbar.tsx
  test/components/side-toolbar.test.ts
  test/helper.ts
Due: prettier, eslint

feat: merge side tool bar
  src/index.tsx
Due: prettier, eslint

fix: infinite loop state management
  assets/css/side-toolbar.css
  src/components/side-toolbar.tsx
  src/drivers/issue-graph.ts
  src/index.tsx
  src/model/setting.ts
  test/model/setting.test.ts
Due: prettier, eslint

fix: reverse order of zoom
  src/drivers/pan-zoom.ts
Due: prettier, eslint

fix: zoom factor is 5% on current zoom scale
  src/drivers/pan-zoom.ts
Due: prettier, eslint

test: fix failed tests
  test/components/side-toolbar.test.ts
Due: prettier, eslint

feat: initial project toolbar
  src/components/project-toolbar.tsx
  test/components/project-toolbar.test.ts
Due: prettier, eslint

feat: partial layout for toolbar
  assets/css/project-toolbar.css
  assets/css/root.css
  assets/css/variable.css
  assets/svg/tablar-icons/run.svg
  assets/svg/tablar-icons/square-check.svg
  assets/svg/tablar-icons/square.svg
  src/components/project-toolbar.tsx
Due: prettier, eslint

feat: add footer for toolbar
  assets/css/project-toolbar.css
  src/components/project-toolbar.tsx
Due: prettier, eslint

fix: re-align direction of selector
  assets/css/project-toolbar.css
  assets/svg/tablar-icons/run.svg
  assets/svg/tablar-icons/search.svg
  src/components/project-toolbar.tsx
  src/model/event.ts
Due: prettier, eslint

test: fix class selector
  test/components/project-toolbar.test.ts
Due: prettier, eslint

fix: add suggestor component
  src/components/suggestor.tsx
  test/components/suggestor.test.ts
Due: prettier, eslint

feat: add suggestor
  assets/css/root.css
  assets/css/suggestor.css
  assets/css/variable.css
  assets/svg/tablar-icons/chevron-down.svg
  src/components/suggestor.tsx
  test/components/suggestor.test.ts
Due: prettier, eslint
