Repository derui/jira-dependency-tree: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, formatter, eslint, rustfmt

prettier:
  name: prettier
  entry: npx prettier --cache --write --list-different --ignore-unknown
  language: system
  verbose: true

formatter:
  name: formatter
  entry: npx rome format --write
  language: system
  verbose: true

eslint:
  name: eslint
  entry: npx eslint --fix --cache-strategy content --cache --cache-location node_modules/.cache/eslint
  language: system
  verbose: true

rustfmt:
  name: rustfmt
  entry: rustfmt
  language: system
  args:
  - --edition
  - '2021'

chore: upgrade packages
  package.json
  pnpm-lock.yaml
Due: none

refactor: apply clippy
  server/src/lib.rs
  server/tests/jira_issue_request_test.rs
  server/tests/jira_project_request_test.rs
  server/tests/jira_projects_request_test.rs
Due: rustfmt

feat: add resource for projects
  server/cdk/lib/cdk-stack.ts
  server/cdk/package.json
  server/cdk/pnpm-lock.yaml
Due: formatter, eslint

feat: add feature grouping icon with parent
  src/components/atoms/iconize.test.tsx
  src/components/atoms/iconize.ts
Due: formatter, eslint

feat: add top of project editor
  assets/svg/tablar-icons/pencil.svg
  src/components/molecules/project-editor-top.stories.tsx
  src/components/molecules/project-editor-top.test.tsx
  src/components/molecules/project-editor-top.tsx
Due: formatter, eslint

refactor: rename assets as valid name
  assets/svg/tabler-icons/arrow-back.svg
  assets/svg/tabler-icons/chevron-down.svg
  assets/svg/tabler-icons/circle-check.svg
  assets/svg/tabler-icons/circle-x.svg
  assets/svg/tabler-icons/door-exit.svg
  assets/svg/tabler-icons/layout-2.svg
  assets/svg/tabler-icons/layout-distribute-horizontal.svg
  assets/svg/tabler-icons/layout-distribute-vertical.svg
  assets/svg/tabler-icons/pencil.svg
  assets/svg/tabler-icons/plus.svg
  assets/svg/tabler-icons/refresh.svg
  assets/svg/tabler-icons/search.svg
  assets/svg/tabler-icons/settings.svg
  assets/svg/tabler-icons/square-check.svg
  assets/svg/tabler-icons/square.svg
  assets/svg/tabler-icons/x.svg
  src/components/atoms/iconize.ts
Due: formatter, eslint

fix: do not use deprecated method
  src/mock-data.ts
Due: formatter, eslint

refactor: rewrite editor as suggestor
  src/components/molecules/project-information-editor.stories.tsx
  src/components/molecules/project-information-editor.test.tsx
  src/components/molecules/project-information-editor.tsx
Due: formatter, eslint

chore: use node 20
  package.json
Due: none

fix: add test cases
  src/components/molecules/project-information-editor.test.tsx
  src/components/molecules/project-information-editor.tsx
Due: formatter, eslint

style: adjust input style
  src/components/atoms/input.tsx
Due: formatter, eslint

fix: style of editor
  src/components/molecules/project-information-editor.stories.tsx
  src/components/molecules/project-information-editor.tsx
Due: formatter, eslint

fix: apply new structure
  src/components/organisms/project-information.test.tsx
  src/components/organisms/project-information.tsx
Due: formatter, eslint

style: fix some styles
  src/components/atoms/iconize.ts
  src/components/molecules/project-editor-top.tsx
Due: formatter, eslint

feat: add slice for projects
  src/state/actions.ts
  src/state/models/simple-project.ts
  src/state/slices/projects.test.ts
  src/state/slices/projects.ts
  src/state/store.ts
Due: formatter, eslint

feat: add epic for projects
  src/state/epics/projects.test.ts
  src/state/epics/projects.ts
  src/state/store.ts
Due: formatter, eslint

test: add test
  src/state/epics/projects.test.ts
  src/state/epics/projects.ts
Due: formatter, eslint

feat: add selector for suggestions
  src/state/selectors/project-suggestions.test.ts
  src/state/selectors/project-suggestions.ts
Due: formatter, eslint

feat: add loader-2 icon from tabler-icons
  assets/svg/tabler-icons/loader-2.svg
  src/components/atoms/iconize.ts
Due: formatter, eslint

wip
  src/components/molecules/project-editor-top.tsx
  src/components/organisms/project-information.tsx
Due: formatter, eslint

fix: move loader into molecules
  src/components/molecules/project-editor-top.stories.tsx
  src/components/molecules/project-editor-top.test.tsx
  src/components/molecules/project-editor-top.tsx
Due: formatter, eslint

test: add cases for project information
  src/components/molecules/project-editor-top.tsx
  src/components/organisms/project-information.test.tsx
  src/components/organisms/project-information.tsx
  src/mock-data.ts
Due: formatter, eslint

fix: add story for project information
  src/components/organisms/project-information.stories.tsx
Due: formatter, eslint

style: size of button
  src/components/molecules/project-information-editor.tsx
  src/components/organisms/project-information.tsx
Due: formatter, eslint

fix: load projects at first
  src/components/organisms/project-information.tsx
Due: formatter, eslint

fix: rename API
  cypress/e2e/10_issue-update.cy.ts
  cypress/e2e/3_project-information.cy.ts
  cypress/e2e/4_load-issues.cy.ts
  cypress/e2e/6_cycle.cy.ts
  cypress/e2e/7_search.cy.ts
  cypress/e2e/8_relation-editor.cy.ts
  cypress/e2e/9_subtask.cy.ts
  server/Dockerfile
  server/cdk/lib/cdk-stack.ts
  server/src/lib.rs
  src/state/epics/issue.ts
  src/state/epics/project.ts
  src/state/epics/projects.ts
Due: formatter, eslint, rustfmt

fix: define endpoint-specified request
  server/src/lib.rs
Due: rustfmt

fix: invalid attribute usage
  server/src/jira_projects_request.rs
  server/tests/jira_projects_request_test.rs
Due: rustfmt

chore: fix name
  LICENSE-Notice.txt
  src/issue-graph/issue.ts
Due: formatter, eslint

fix: action name
  src/components/containers/project-sync-option-editor.test.tsx
  src/components/organisms/issue-searcher.stories.tsx
  src/components/organisms/issue-searcher.test.tsx
  src/components/organisms/project-information.stories.tsx
  src/components/organisms/project-information.test.tsx
  src/components/organisms/project-information.tsx
  src/components/organisms/project-sync-option-editor-form.test.tsx
  src/components/organisms/relation-editor.stories.tsx
  src/components/organisms/relation-editor.test.tsx
  src/components/organisms/sync-issue-button.stories.tsx
  src/components/organisms/sync-issue-button.test.tsx
  src/mock-data.ts
  src/state/actions.ts
  src/state/epics/issue.test.ts
  src/state/epics/project.test.ts
  src/state/epics/project.ts
  src/state/epics/suggestion.test.ts
  src/state/selectors/issues.test.ts
  src/state/selectors/relation-editor.test.ts
  src/state/slices/project.test.ts
  src/state/slices/project.ts
Due: formatter, eslint

test: apply new project information
  cypress/e2e/1_open.cy.ts
  cypress/e2e/3_project-information.cy.ts
  cypress/e2e/4_load-issues.cy.ts
  cypress/e2e/6_cycle.cy.ts
  cypress/e2e/7_search.cy.ts
  cypress/e2e/8_relation-editor.cy.ts
  cypress/e2e/9_subtask.cy.ts
  src/components/molecules/suggestor.tsx
Due: formatter, eslint

test: add case
  src/components/organisms/project-information.test.tsx
  src/components/organisms/project-information.tsx
Due: formatter, eslint

test: apply new project information
  cypress/e2e/10_issue-update.cy.ts
  cypress/e2e/1_open.cy.ts
  cypress/fixtures/basic/projects.json
Due: formatter, eslint

fix: restore release build
  server/Dockerfile
Due: none

chore: bump version
  package.json
Due: none

chore: update packages
  package.json
  pnpm-lock.yaml
Due: none

fix: state management for loading projects
  src/components/organisms/project-information.test.tsx
  src/components/organisms/project-information.tsx
  src/state/selectors/project-suggestions.ts
  src/state/slices/projects.test.ts
  src/state/slices/projects.ts
Due: formatter, eslint

fix: process for loading
  src/components/organisms/project-information.test.tsx
  src/components/organisms/project-information.tsx
Due: formatter, eslint

chore: some upgrades
  index.html
  package.json
  pnpm-lock.yaml
  public/css/root.css
  public/svg/tabler-icons/arrow-back.svg
  public/svg/tabler-icons/chevron-down.svg
  public/svg/tabler-icons/circle-check.svg
  public/svg/tabler-icons/circle-x.svg
  public/svg/tabler-icons/door-exit.svg
  public/svg/tabler-icons/layout-2.svg
  public/svg/tabler-icons/layout-distribute-horizontal.svg
  public/svg/tabler-icons/layout-distribute-vertical.svg
  public/svg/tabler-icons/loader-2.svg
  public/svg/tabler-icons/pencil.svg
  public/svg/tabler-icons/plus.svg
  public/svg/tabler-icons/refresh.svg
  public/svg/tabler-icons/search.svg
  public/svg/tabler-icons/settings.svg
  public/svg/tabler-icons/square-check.svg
  public/svg/tabler-icons/square.svg
  public/svg/tabler-icons/x.svg
  src/components/atoms/iconize.ts
  src/components/organisms/project-information.tsx
  src/issue-graph/issue.ts
  vite.config.js
Due: prettier, formatter, eslint

fix: empower timeout to 1 minute
  server/cdk/lib/cdk-stack.ts
Due: formatter, eslint

Path conditions:
  prettier: any of: \.css$
  formatter: any of: \.tsx?$
  eslint: any of: \.tsx?$
  rustfmt: any of: \.rs$
