Repository derui/jira-dependency-tree: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, rustfmt

prettier:
  name: prettier
  entry: npx prettier
  language: system
  args:
  - -w

eslint:
  name: eslint
  entry: npx eslint
  language: system
  args:
  - --fix
  - --ext
  - .ts,.tsx

rustfmt:
  name: rustfmt
  entry: rustfmt
  language: system
  args:
  - --edition
  - '2021'

feat: allow user to synchronize issue/project
  assets/css/project-information.css
  src/components/jira-loader.ts
  src/components/project-information.tsx
Due: prettier, eslint

feat: open issue with clicking issue
  assets/css/issue.css
  src/issue-graph/issue.ts
Due: prettier, eslint

refactor: avoid index.ts for the future of ESM
  package.json
  pnpm-lock.yaml
  src/depgraph/main.ts
  src/issue-graph/force-graph.ts
  test/depgraph/main.test.ts
Due: prettier, eslint

chore: delete unused packages
  package.json
  pnpm-lock.yaml
Due: none

chore: upgrade packages
  package.json
  pnpm-lock.yaml
Due: none

refactor: use Native ESM on typescript
  src/components/jira-issue-loader.ts
  src/components/jira-project-loader.ts
  src/components/project-information.tsx
  src/components/user-configuration.tsx
  src/components/zoom-slider.tsx
  src/issue-graph/force-graph.ts
  src/issue-graph/issue.ts
  src/issue-graph/root.ts
  tsconfig.json
Due: prettier, eslint

feat: add simple storage driver
  src/drivers/storage.ts
  test/drivers/storage.test.ts
Due: prettier, eslint

feat: use storage driver
  package.json
  pnpm-lock.yaml
  src/index.tsx
  src/model/setting.ts
Due: prettier, eslint

feat: return subtasks if exists
  server/src/jira_issue_request.rs
  server/src/lib.rs
  server/tests/issue.json
  server/tests/jira_issue_request_test.rs
  server/tests/jira_project_request_test.rs
Due: rustfmt

fix: compile errors
  src/index.tsx
  src/issue-graph/issue.ts
Due: prettier, eslint

fix: subtasks in fields
  server/src/jira_issue_request.rs
  server/tests/issue.json
Due: rustfmt

fix: use subtask as single issue to show dependency
  src/components/jira-issue-loader.ts
  src/drivers/issue-graph.ts
  src/drivers/storage.ts
  src/issue-graph/force-graph.ts
  src/issue-graph/type.ts
  test/components/jira-issue-loader.test.ts
Due: prettier, eslint

fix: get only few fields to use in program
  server/src/jira_issue_request.rs
Due: rustfmt

style: background color of text
  assets/css/issue.css
  src/issue-graph/issue.ts
  src/issue-graph/root.ts
Due: prettier, eslint

feat: add simple tool to get width of text in SVG
  src/issue-graph/text-measure.ts
Due: prettier, eslint

fix: strip text if it is longer than node size
  assets/css/issue.css
  assets/css/root.css
  index.html
  src/drivers/issue-graph.ts
  src/issue-graph/issue.ts
Due: prettier, eslint

chore: add firebase for hosting
  .gitignore
  firebase.json
  package.json
  pnpm-lock.yaml
Due: none

chore: remove unused library
  package.json
  pnpm-lock.yaml
Due: none

chore: do not default proxy configuration
  server/cdk/lib/cdk-stack.ts
Due: prettier, eslint

chore: add options for preflight
  server/cdk/lib/cdk-stack.ts
Due: prettier, eslint

chore: allow user to deploy assets to firebase
  firebase.json
  index.html
  package.json
Due: none

fix: ignore firebase contents
  .gitignore
Due: none

chore: remove unused variable
  server/cdk/lib/cdk-stack.ts
Due: prettier, eslint

fix: very simple handle error
  src/components/helper.ts
  src/components/jira-issue-loader.ts
  src/components/jira-project-loader.ts
Due: prettier, eslint

fix: do not use category for driver without isolate
  src/components/helper.ts
  src/components/jira-issue-loader.ts
  src/components/jira-project-loader.ts
Due: prettier, eslint

fix: handle vertex that is not in graph
  src/depgraph/main.ts
  test/depgraph/main.test.ts
Due: prettier, eslint

fix: do not include issue if it is not include graph
  src/issue-graph/force-graph.ts
Due: prettier, eslint

fix: should ignore invalid link
  src/issue-graph/force-graph.ts
Due: prettier, eslint

fix: merge task links
  src/components/jira-issue-loader.ts
  src/issue-graph/force-graph.ts
  test/components/jira-issue-loader.test.ts
Due: prettier, eslint

fix: zoom activity
  src/drivers/issue-graph.ts
  src/drivers/pan-zoom.ts
  test/drivers/issue-graph.test.ts
Due: prettier, eslint

feat: apply initial state to user configuration dialog
  src/components/user-configuration-dialog.tsx
  src/components/user-configuration.tsx
  src/index.tsx
  test/components/user-configuration-dialog.test.ts
  test/components/user-configuration.test.ts
Due: prettier, eslint

fix: more robust link
  src/issue-graph/force-graph.ts
  test/components/user-configuration-dialog.test.ts
Due: prettier, eslint

chore: add exit icon
  assets/svg/exit.svg
Due: none

fix: move event
  assets/css/issue.css
  src/issue-graph/issue.ts
Due: prettier, eslint

feat: highlight links for clicked issue
  src/issue-graph/force-graph.ts
  src/issue-graph/issue.ts
Due: prettier, eslint

feat: add method to make subtree of issues
  src/depgraph/main.ts
  test/depgraph/main.test.ts
Due: prettier, eslint

feat: add method to merge each graphs
  src/depgraph/main.ts
  test/depgraph/main.test.ts
Due: prettier, eslint

feat: calculate graph layout
  src/issue-graph/issue-layout.ts
  src/issue-graph/type.ts
  test/depgraph/main.test.ts
  test/issue-graph/issue-layout.test.ts
Due: prettier, eslint

fix: layout for subgraphs
  src/issue-graph/issue-layout.ts
  test/issue-graph/issue-layout.test.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(tsx?|css)$
  eslint: any of: \.tsx?$
  rustfmt: any of: \.rs$
